.playerStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.3rem 0;
}
.playerStats:nth-child(odd) {
  background: #eee;
}
.name {
  width: 25%;
}

.stat {
  text-align: left;
  width: 3rem;
}
