.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 6rem;
  margin-top: 1rem;
}

.header {
  border-bottom: 1px solid black;
  background: #ddd;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  justify-content: space-between;
  text-align: right;
  padding-right: 0.4rem;
}

.score-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0.2rem;
}

.period {
  width: 2rem;
  text-align: left;
}

.header .period {
  font-weight: bold;
}

.team {
  width: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: bold;
}

.teams-box {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 2rem;
  align-items: center;
  margin-top: 1rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.team-info {
  width: 40%;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.status {
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
}
